[*.sh]
indent_style = space
indent_size = 2

[*.{kt,kts}]
insert_final_newline=true

[build.gradle.kts]
max_line_length=off
disabled_rules=string-template,no-consecutive-blank-lines,wrapping,indent

# Ignore the entire "third_party" directory.
[thirdparty/**]
ignore = true
