image: gitlab.lrz.de:5005/i7/owl:jdk14

before_script:
  - chmod +x gradlew

stages:
  - build
  - check
  - test
  - deploy

variables:
  GRADLE: ./.gradle
  GRADLE_HOME: $GRADLE
  GRADLE_USER_HOME: $GRADLE


# Building

Build:
  stage:
    build
  cache:
    paths:
    - $GRADLE
  script:
    - java -version
    - ./gradlew minimizedDistZip
  artifacts:
    paths:
      - build/distributions/
    when: on_success
    expire_in: 1 week

# This should also be in the test stage, however we want to fail-fast if there is a stupid error
# before starting all the expensive integration tests
Check:
  stage:
    check
  cache:
    paths:
      - $GRADLE
  script:
    - ./gradlew check
    - unzip -d build/unzipped build/distributions/*.zip
    - scripts/check_binaries.sh build/unzipped/owl-*/bin
  artifacts:
    reports:
      junit: build/test-results/test/*.xml
    paths:
      - build/tmp/
      - build/reports/
    when: always
    expire_in: 1 hour
  dependencies:
    - Build

# Artifact

Assemble:
  stage:
    deploy
  cache:
    paths:
    - $GRADLE
  script:
    - ./gradlew distZip javadoc
  dependencies:
  - Build
  artifacts:
    paths:
    - build/distributions/
    expire_in: 1 week


# Templates

.ltlcross: &ltlcross_template
  script:
    - unzip -d build/unzipped build/distributions/*.zip
    - mv build/unzipped/owl-*/bin build
    - mv build/unzipped/owl-*/lib build
    - python3 scripts/util.py test $TEST_NAME
  artifacts:
    paths:
    - build/results/
    when: always
    expire_in: 1 week
  dependencies:
  - Build

.benchmark: &benchmark_template
  stage: bench
  script:
    - unzip -d build/unzipped build/distributions/*.zip
    - mv build/unzipped/owl-*/bin build
    - mv build/unzipped/owl-*/lib build
    - python3 scripts/util.py bench $BENCH_NAME | tee benchmark.txt
  artifacts:
    paths:
    - benchmark.txt
    when: always
    expire_in: 1 week
  when: manual
  dependencies:
  - Build


# Tests

Size Regression Test:
  stage: test
  cache:
    paths:
    - $GRADLE
  script:
    - ./gradlew sizeRegressionTest
  dependencies:
  - Build
  artifacts:
    reports:
      junit: build/test-results/test/*.xml
    paths:
    - build/tmp/
    - build/reports/
    when: on_failure
    expire_in: 1 hour

Size Regression Train:
  stage: test
  cache:
    paths:
    - $GRADLE
  script:
    - ./gradlew sizeRegressionTrain
  when: manual
  dependencies:
  - Build
  artifacts:
    paths:
    - data/formulas/sizes
    expire_in: 1 week

## LTL to Automaton

LTL2NBA:
  stage: test
  variables:
    TEST_NAME: "ltl2nba"
  <<: *ltlcross_template

LTL2LDBA:
  stage: test
  variables:
    TEST_NAME: "ltl2ldba"
  <<: *ltlcross_template

LTL2DRA:
  stage: test
  variables:
    TEST_NAME: "ltl2dra"
  <<: *ltlcross_template

LTL2DPA:
  stage: test
  variables:
    TEST_NAME: "ltl2dpa"
  <<: *ltlcross_template

Rabinizer:
  stage: test
  variables:
    TEST_NAME: "rabinizer"
  <<: *ltlcross_template

### Meta-constructions

LTL2DA:
  stage: test
  variables:
    TEST_NAME: "ltl2da"
  <<: *ltlcross_template

LTL2NA:
  stage: test
  variables:
    TEST_NAME: "ltl2na"
  <<: *ltlcross_template

DELAG:
  stage: test
  variables:
    TEST_NAME: "delag"
  <<: *ltlcross_template

## Automaton to Automaton

BUCHI-DEGEN:
  stage: test
  variables:
    TEST_NAME: "buchi-degen"
  <<: *ltlcross_template

NBA2LDBA:
  stage: test
  variables:
    TEST_NAME: "nba2ldba"
  <<: *ltlcross_template

NBA2DPA:
  stage: test
  variables:
    TEST_NAME: "nba2dpa"
  <<: *ltlcross_template

## Conversions

DPA Conversion:
  stage: test
  variables:
    TEST_NAME: "ltl2dpa-convert"
  <<: *ltlcross_template

## Testing with random formulas

LTL2NBA Random:
  stage: test
  when: manual
  variables:
    TEST_NAME: "ltl2nba-random"
  <<: *ltlcross_template

LTL2LDBA Random:
  stage: test
  when: manual
  variables:
    TEST_NAME: "ltl2ldba-random"
  <<: *ltlcross_template

LTL2DRA Random:
  stage: test
  when: manual
  variables:
    TEST_NAME: "ltl2dra-random"
  <<: *ltlcross_template

LTL2DPA Random:
  stage: test
  when: manual
  variables:
    TEST_NAME: "ltl2dpa-random"
  <<: *ltlcross_template
